version: "3.9"

services:
  skin-analyser:
    build: .
    container_name: skin-analyser
    ports:
      - "8501:8501"
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    container_name: skin-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/nginx/ssl:/etc/nginx/ssl:ro
    depends_on:
      - skin-analyser
